* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#img-div {
  background-color: rgb(255, 255, 255);
}
#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  max-width: fit-content;
  margin-bottom: 30px;
}

#main {
  background-color: rgb(214, 213, 213);
  height: 100vh;
  text-align: center;
  padding: 20px;
}

#title {
  font-size: 46px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#tribute-info {
  margin-bottom: 20px;
}

#img-caption {
  margin-bottom: 20px;
}
